In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

***Using Merged dataset***

In [2]:
train=pd.read_csv('train_processed4.csv')
test=pd.read_csv('test_processed4.csv')

In [3]:
print('Shape of Train dataset {}'.format(train.shape))
print('Shape of Test dataset {}'.format(test.shape))

Shape of Train dataset (78369, 23)
Shape of Test dataset (50226, 20)

In [4]:
for i in train.columns:
    if i not in test.columns:
        print(i)

redemption_status
coupon_discount_med
campaign_period

In [5]:
for i in test.columns:
    if i not in train.columns:
        print(i)

We know that redemption Status is our target variable, so we need to predict redemption status for test dataset.

In [6]:
train.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,age_range,rented,family_size,income_bracket,no_of_children,...,end_date,no_of_redemptions,coupon_discount_med,category_mod,campaign_period,coupon_discount_mean,other_discount_mean,quantity,brand_type,no_of_redemptions_real
0,1,13,27,1053,0,3.0,0.0,0.0,4.0,1,...,2013-07-06,1,-89.05,Grocery,75 days 00:00:00.000000000,-89.05,-78.01,1.0,Established,0
1,2,13,116,48,0,2.0,0.0,1.0,2.0,1,...,2013-07-06,0,0.00,Grocery,75 days 00:00:00.000000000,0.00,0.00,1.0,Established,0
2,6,9,635,205,0,3.0,0.0,1.0,6.0,1,...,2013-07-06,1,-12.47,Pharmaceutical,75 days 00:00:00.000000000,-12.47,0.00,1.0,Established,1
3,7,13,644,1050,0,3.0,0.0,1.0,4.0,3.0,...,2013-07-06,0,0.00,Grocery,75 days 00:00:00.000000000,0.00,0.00,1.0,Established,0
4,9,8,1017,1489,0,3.0,0.0,1.0,2.0,1,...,2013-07-06,1,-17.81,Grocery,75 days 00:00:00.000000000,-17.81,-56.28,2.0,Established,0

In [7]:
test.head()

,id,campaign_id,coupon_id,customer_id,age_range,rented,family_size,income_bracket,no_of_children,marital_status,no_of_redemptions,category_mod,other_discount_mean,quantity,brand_type,coupon_discount_mean,campaign_type,start_date,end_date,no_of_redemptions_real
0,3,22,869,967,2.0,0.0,0.0,4.0,1,Single,1078,Grocery,-8.293571,1.0,1.0,-23.025714,X,2013-09-16,2013-10-18,3
1,4,20,389,1566,1.0,0.0,1.0,8.0,1,Single,108,Grocery,-78.010000,1.5,1.0,-62.335000,Y,2013-07-09,2013-11-16,0
2,5,22,981,510,1.0,0.0,1.0,0.0,1,Single,336,Grocery,-99.140000,1.0,1.0,-53.430000,X,2013-09-16,2013-10-18,7
3,8,25,1069,361,0.0,0.0,0.0,2.0,1,Single,0,Grocery,0.000000,1.0,1.0,0.000000,Y,2013-10-21,2013-11-22,0
4,10,17,498,811,3.0,0.0,1.0,4.0,3.0,Married,0,Grocery,0.000000,1.0,1.0,0.000000,Y,2013-07-29,2013-08-30,0

In [8]:
train.isna().sum()

id                        0
campaign_id               0
coupon_id                 0
customer_id               0
redemption_status         0
age_range                 0
rented                    0
family_size               0
income_bracket            0
no_of_children            0
marital_status            0
campaign_type             0
start_date                0
end_date                  0
no_of_redemptions         0
coupon_discount_med       0
category_mod              0
campaign_period           0
coupon_discount_mean      0
other_discount_mean       0
quantity                  0
brand_type                0
no_of_redemptions_real    0
dtype: int64

In [9]:
test.isna().sum()

id                        0
campaign_id               0
coupon_id                 0
customer_id               0
age_range                 0
rented                    0
family_size               0
income_bracket            0
no_of_children            0
marital_status            0
no_of_redemptions         0
category_mod              0
other_discount_mean       0
quantity                  0
brand_type                0
coupon_discount_mean      0
campaign_type             0
start_date                0
end_date                  0
no_of_redemptions_real    0
dtype: int64

In [10]:
test['brand_type']

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
5        1.0
6        1.0
7        1.0
8        1.0
9        1.0
10       1.0
11       1.0
12       1.0
13       1.0
14       1.0
15       1.0
16       1.0
17       1.0
18       1.0
19       1.0
20       1.0
21       1.0
22       1.0
23       1.0
24       1.0
25       1.0
26       1.0
27       1.0
28       1.0
29       1.0
        ...
50196    1.0
50197    1.0
50198    1.0
50199    1.0
50200    1.0
50201    1.0
50202    1.0
50203    1.0
50204    1.0
50205    1.0
50206    1.0
50207    1.0
50208    1.0
50209    1.0
50210    1.0
50211    1.0
50212    1.0
50213    1.0
50214    1.0
50215    1.0
50216    1.0
50217    1.0
50218    1.0
50219    1.0
50220    1.0
50221    1.0
50222    1.0
50223    1.0
50224    1.0
50225    1.0
Name: brand_type, Length: 50226, dtype: float64

In [11]:
train.columns

Index(['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status',
       'age_range', 'rented', 'family_size', 'income_bracket',
       'no_of_children', 'marital_status', 'campaign_type', 'start_date',
       'end_date', 'no_of_redemptions', 'coupon_discount_med', 'category_mod',
       'campaign_period', 'coupon_discount_mean', 'other_discount_mean',
       'quantity', 'brand_type', 'no_of_redemptions_real'],
      dtype='object')

In [12]:
test.columns

Index(['id', 'campaign_id', 'coupon_id', 'customer_id', 'age_range', 'rented',
       'family_size', 'income_bracket', 'no_of_children', 'marital_status',
       'no_of_redemptions', 'category_mod', 'other_discount_mean', 'quantity',
       'brand_type', 'coupon_discount_mean', 'campaign_type', 'start_date',
       'end_date', 'no_of_redemptions_real'],
      dtype='object')

In [13]:
train['start_date']=pd.to_datetime(train['start_date'].astype('str'),dayfirst=True)
train['end_date']=pd.to_datetime(train['end_date'].astype('str'),dayfirst=True)

In [14]:
train['#_days_of_campaign']=(train['start_date']-train['end_date']).dt.days.astype('int16')

In [15]:
train.drop(['start_date','end_date'],axis=1,inplace=True)

In [16]:
test['start_date']=pd.to_datetime(test['start_date'].astype('str'),dayfirst=True)
test['end_date']=pd.to_datetime(test['end_date'].astype('str'),dayfirst=True)
test['#_days_of_campaign']=(test['start_date']-test['end_date']).dt.days.astype('int16')

In [17]:
test.drop(['start_date','end_date'],axis=1,inplace=True)

#### Converting Marital status into Numerical data by label encoding

In [18]:
train['marital_status']=train['marital_status'].map({'Married':1,'Single':0})
test['marital_status']=test['marital_status'].map({'Married':1,'Single':0})

#### Converting Campaign type into Numerical data by label encoding

In [19]:
train['campaign_type']=train['campaign_type'].map({'X':1,'Y':0})
test['campaign_type']=test['campaign_type'].map({'X':1,'Y':0})

In [20]:
train.no_of_children.value_counts()

1      36145
3.0    34708
3+      3969
2       3547
Name: no_of_children, dtype: int64

In [21]:
def process_childrens(df):
    df['Single_child'] = df['no_of_children'].map(lambda d: 1 if d=='1' else 0)
    df['two_child'] = df['no_of_children'].map(lambda d: 1 if d=='2' else 0)
    df['three_child'] = df['no_of_children'].map(lambda d: 1 if d=='3' else 0)
    df['3+_children']=df['no_of_children'].map(lambda d:1 if d=='3+' else 0)
    df.drop(['no_of_children'], axis=1, inplace=True)

In [22]:
process_childrens(train)
process_childrens(test)

In [23]:
train.brand_type.value_counts()

Established    78187
Local            182
Name: brand_type, dtype: int64

In [24]:
train['brand_type']=train['brand_type'].map({'Established':1,'Local':0})
test['brand_type']=test['brand_type'].map({'Established':1,'Local':0})

In [25]:
train.drop(['campaign_period','coupon_discount_med'],axis=1,inplace=True)

In [26]:
train.category_mod.value_counts()

Grocery             73577
Pharmaceutical       3019
Prepared Food         761
Packaged Meat         756
Natural Products      137
Bakery                 76
Miscellaneous          43
Name: category_mod, dtype: int64

In [27]:
def process_category(df):
    df['Grocery_category_mod']=df['category_mod'].map(lambda d:1 if d=='Grocery' else 0)
    df['Pharmaceutical_category_mod']=df['category_mod'].map(lambda d:1 if d=='Pharmaceutical' else 0)
    df['Prepared_Food_category_mod']=df['category_mod'].map(lambda d:1 if d=='Prepared Food' else 0)
    df['Prepared_Food_category_mod']=df['category_mod'].map(lambda d:1 if d=='Prepared Food' else 0)
    df['Natural_Productscategory_mod']=df['category_mod'].map(lambda d:1 if d=='Natural Products' else 0)
    df['Bakery_category_mod']=df['category_mod'].map(lambda d:1 if d=='Bakery' else 0)
    df['Miscellaneous_category_mod']=df['category_mod'].map(lambda d:1 if d=='Miscellaneous' else 0)
    df.drop('category_mod',axis=1,inplace=True)

In [28]:
process_category(train)
process_category(test)

In [29]:
K=test

In [30]:
print('Shape of Train dataset {}'.format(train.shape))
print('Shape of Test dataset {}'.format(test.shape))

Shape of Train dataset (78369, 28)
Shape of Test dataset (50226, 27)

In [31]:
train.columns

Index(['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status',
       'age_range', 'rented', 'family_size', 'income_bracket',
       'marital_status', 'campaign_type', 'no_of_redemptions',
       'coupon_discount_mean', 'other_discount_mean', 'quantity', 'brand_type',
       'no_of_redemptions_real', '#_days_of_campaign', 'Single_child',
       'two_child', 'three_child', '3+_children', 'Grocery_category_mod',
       'Pharmaceutical_category_mod', 'Prepared_Food_category_mod',
       'Natural_Productscategory_mod', 'Bakery_category_mod',
       'Miscellaneous_category_mod'],
      dtype='object')

In [32]:
X=train.drop(['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status','Single_child'],axis=1)
Y=train['redemption_status']

## Prediction process

from sklearn.preprocessing import StandardScaler
SS=StandardScaler()
X=SS.fit_transform(X)
X

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, classification_report, confusion_matrix
import time
from sklearn import linear_model, neighbors
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score

###### model1a = LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
                             intercept_scaling=1, l1_ratio=None, max_iter=100,
                             multi_class='warn', n_jobs=None, penalty='l2',
                             random_state=None, solver='warn', tol=0.001, verbose=0,
                             warm_start=False)
model2a = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                                 max_depth=3, max_features='auto', max_leaf_nodes=None,
                                 min_impurity_decrease=0.0, min_impurity_split=None,
                                 min_samples_leaf=1, min_samples_split=2,
                                 min_weight_fraction_leaf=0.0, n_estimators=10,
                                 n_jobs=None, oob_score=False, random_state=0, verbose=0,
                                 warm_start=False)
model3a = XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                        colsample_bynode=1, colsample_bytree=1, gamma=0,
                        learning_rate=0.1, max_delta_step=0, max_depth=3,
                        min_child_weight=1, missing=None, n_estimators=10, n_jobs=1,
                        nthread=None, objective='binary:logistic', random_state=0,
                        reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
                        silent=None, subsample=1, verbosity=1)

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.40,random_state=20)
model = LogisticRegression()
model.fit(X_train, Y_train)
result = model.score(X_test, Y_test)
print(result*100.0)

99.02067117519458

In [35]:
model = LogisticRegression()
scoring = 'roc_auc'
results = cross_val_score(model, X, Y, scoring=scoring)
print(results.mean(), results.std())

0.8963436023177566 0.007506702072325773

In [36]:
from sklearn.metrics import precision_score, \
    recall_score, confusion_matrix, classification_report, \
    accuracy_score, f1_score
clf = LogisticRegression(solver = 'lbfgs')
# fit the model
clf.fit(X_train, Y_train.ravel())

# prediction for training dataset
train_pred = clf.predict(X_train)

# prediction for testing dataset
test_pred = clf.predict(X_test)

In [37]:
print('Confusion Matrix - Training Dataset')
print(pd.crosstab(Y_train.ravel(), train_pred, rownames = ['True'], colnames = ['Predicted'], margins = True))

Confusion Matrix - Training Dataset
Predicted      0    All
True
0          46599  46599
1            422    422
All        47021  47021

In [38]:
print ('Accuracy:', accuracy_score(Y_test, test_pred))
print ('F1 score:', f1_score(Y_test, test_pred))
print ('Recall:', recall_score(Y_test, test_pred))
print ('Precision:', precision_score(Y_test, test_pred))
print ('\n clasification report:\n', classification_report(Y_test,test_pred))
print ('\n confussion matrix:\n',confusion_matrix(Y_test, test_pred))

Accuracy: 0.9902067117519459
F1 score: 0.0
Recall: 0.0
Precision: 0.0

 clasification report:
               precision    recall  f1-score   support

           0       0.99      1.00      1.00     31041
           1       0.00      0.00      0.00       307

    accuracy                           0.99     31348
   macro avg       0.50      0.50      0.50     31348
weighted avg       0.98      0.99      0.99     31348


 confussion matrix:
 [[31041     0]
 [  307     0]]

In [39]:
model = DecisionTreeClassifier()
scoring = 'roc_auc'
results = cross_val_score(model, X, Y, scoring=scoring)
print(results.mean(), results.std())

0.8327427103673598 0.0035694183042038856

In [40]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [41]:
model = RandomForestClassifier(criterion='entropy', max_depth = 5, max_leaf_nodes = 6, min_samples_leaf = 2, min_samples_split = 2)
scoring = 'roc_auc'
results = cross_val_score(model, X, Y, scoring=scoring)
print(results.mean(), results.std())

0.9173619459232546 0.008289835987378638

In [42]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
scoring = 'roc_auc'
results = cross_val_score(model, X, Y, scoring=scoring)
print(results.mean(), results.std())

0.9311119644746354 0.0018956058332784192

In [43]:
from sklearn.model_selection import GridSearchCV

In [44]:
parameters = {'max_depth':[5,10,20,50,100], 'min_samples_leaf':[2,3,4], 'max_leaf_nodes':[6,7,8], 'criterion':['gini','entropy'],
             'min_samples_split':[2,3,4]}
DecisionTree = DecisionTreeClassifier()
grid_search = GridSearchCV(DecisionTree,parameters)
grid_search.fit(X_train, Y_train)

print(grid_search.best_params_)

{'criterion': 'gini', 'max_depth': 5, 'max_leaf_nodes': 6, 'min_samples_leaf': 2, 'min_samples_split': 2}

In [45]:
from sklearn.metrics import roc_auc_score
Decision_Tree_best = grid_search.best_estimator_
pos_prob = Decision_Tree_best.predict_proba(X_test)[:,1]
print('The ROC AUC on testing set is: {0:3f}'.format(roc_auc_score(Y_test, pos_prob)))

The ROC AUC on testing set is: 0.921271

## Training data

In [46]:
for i in train.columns:
    if i not in test.columns:
        print(i)

redemption_status

In [47]:
for i in test.columns:
    if i not in train.columns:
        print(i)

## Test data

In [48]:
Z=test.drop(['brand_type','id','campaign_id','customer_id','coupon_id'],axis=1)

In [49]:
y_predict=clf.predict(Z)

In [50]:
y_predict

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [51]:
len(y_predict)

50226

In [52]:
test['redemption_status']=y_predict

In [53]:
test.columns

Index(['id', 'campaign_id', 'coupon_id', 'customer_id', 'age_range', 'rented',
       'family_size', 'income_bracket', 'marital_status', 'no_of_redemptions',
       'other_discount_mean', 'quantity', 'brand_type', 'coupon_discount_mean',
       'campaign_type', 'no_of_redemptions_real', '#_days_of_campaign',
       'Single_child', 'two_child', 'three_child', '3+_children',
       'Grocery_category_mod', 'Pharmaceutical_category_mod',
       'Prepared_Food_category_mod', 'Natural_Productscategory_mod',
       'Bakery_category_mod', 'Miscellaneous_category_mod',
       'redemption_status'],
      dtype='object')

In [54]:
test=pd.read_csv('test_processed4.csv')

In [55]:
test['redemption_status']=y_predict

In [56]:
df=test.loc[:,['id','redemption_status']]

In [57]:
df.to_csv('submission_AmEx.csv')